// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
head, body, footer {display: block;}
html {
  background-color: DarkSeaGreen;
  height: 150%;
}
.form-buttons {
  text-align: center;
  position: relative;
  top: 60px;
}

.image {
  background-image: image-url("yonkers.jpg");
  background-size: cover;
  height: 450px;
}
/*body{
  position: relative;
  top: 40px;
}
footer{
  position: relative;
  top: 40px;
}*/
table{
  height: 55%;
  margin: auto;
  position: relative;
  top: 30px;
}
th{
  text-align: center;
}
h1 {
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
  left: 40%;
  text-align: center;
  font-size: 250%;
}
head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: hsla(47,79%,79%, 0.3);
  padding: 60px;
  margin: 0;
  width: 100%;
}
