// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
head, body, footer {display: block;}
html {
  background-color: DarkSeaGreen;
}
.form-buttons {
  text-align: center;
  position: relative;
  top: 60px;
}
/*body{
  position: relative;
  top: 40px;
}
footer{
  position: relative;
  top: 40px;
}*/
table{
  height: 55%;
  margin: auto;
  position: relative;
  top: 20px;
}
th{
  text-align: center;
}
h1 {
  position: absolute;
  top: 25px;
  left: 40%;
  text-align: center;
  font-size: 250%;
}
head {
  background-color: DarkSlateGray;
  padding: 60px;
  margin: 0;
  width: 100%;
  top: 0px;
}
