// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header, table, div {display: block;}
html {
  background-color: DarkSeaGreen;
}
.form-buttons {
  position: relative;
  //left: 5px;
  top: 20px;
}
table{
  height: 35%;
  //position: relative;
  //top: 30%;
  //left: 5px;
}
header {
  //position: absolute;
  //border-bottom: 2px solid black;
  background-color: DarkSlateGray;
  padding: 15px;
  width: 100%;
  left: 50%;
  top: 0%;
  font-size: 400%;
}
