
<!DOCTYPE html>
<html>
<%= stylesheet_link_tag('application', :media => 'all') %>
<head>
  <meta charset="utf-8">
  <h1>Reports</h1>
  <title></title>
</head>
<body>
  <table summary="actual reports">
    <tr>
      <th>Message</th>
      <th>City</th>
      <th>State</th>
    </tr>
    
    <% @reports.each do |t| %>
    <tr>
      <td><% t.message %></td>
      <td><% t.city %></td>
      <td><% t.state %></td>
    </tr>

    <% end %>
  </table>
</body>
</html>
